* {
  padding: 0;
  margin: 0;
  font-family: "Calibri", sans-serif;
}
body {
  background-color: #262626;
  height: 100vh;
}

:root {
  --width: 100%;
  --height: 100%;
}

.slider {
  margin: auto;
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.397);
}

.slider__control-container {
  width: 30px;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous-control {
  left: 5px;
}

.next-control {
  right: 5px;
}

.prev,
.next {
  border: 1px solid rgba(0,0,0,0);
  transition: all 0.3s;
  display: flex;
  z-index: 2;
  width: 30px;
  height: 30%;
  background: rgba(0, 0, 0, 0.36);
  padding: 3px;
}

.prev:hover, .next:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.prev:hover {
  transform: translateX(1px);
}
.next:hover {
  transform: translateX(-1px);
}
.prev:active {
  transform: translateX(-2px);
}
.next:active {
  transform: translateX(2px);
}

.prev img,
.next img {
  width: 100%;
  height: 100%;
}

.images {
  width: var(--width);
  height: 100%;
  display: flex;
}

.image {
  width: var(--width);
  min-width: 100%;
  position: relative;
}

.image__img {
  height: var(--height);
  width: var(--width);
  object-fit: cover;
}
.image__text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3rem 1rem;
  background-color: rgba(0, 0, 0, 0.36);
  color: white;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  transition: all 0.3s;
  width: 15px;
  height: 15px;
  background-color: #000000;
  border: 1px solid white;
  opacity: .5;
  border-radius: 15px;
  margin: 1px;
}
.dot:hover {
  transform: translateY(-1px);
  opacity: .7;
}

.activeSlide {
  opacity: 1;
  transform: translateY(-2px) !important;
}

.disable {
  pointer-events: none;
}
